<mat-toolbar color="primary">
    <span>My Local Route to Work</span>
</mat-toolbar>
<mat-card style="width:90%;padding:10px;margin:10px">
    <section class="example-section">
        <mat-checkbox [checked]="true" [disabled]="true" class="example-margin">Jobs</mat-checkbox>
        <mat-checkbox [disabled]="true" class="example-margin">Education & Training </mat-checkbox>
        <mat-checkbox class="example-margin" [disabled]="true">Work Experience </mat-checkbox>

        <mat-checkbox class="example-margin" [disabled]="true">Local Recruitment</mat-checkbox>

    </section>
    <form class="example-form example-full-width">
        <mat-form-field class="example-full-width example-chip-list">
            <mat-label>Select Sectors</mat-label>
            <mat-chip-list #chipList aria-label="sector selection">
                <mat-chip *ngFor="let sector of sectors" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(sector)">
                    {{sector}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="New sector..." #sectorInput [formControl]="sectorCtrl" [matAutocomplete]="auto"
                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let sector of filteredSectors | async" [value]="sector">
                    {{sector}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width">
            <mat-label>Select your skill</mat-label>
            <input matInput placeholder="Select your skill">
        </mat-form-field> -->
        <mat-form-field class="example-full-width">
            <mat-label>Select your post code</mat-label>
            <input matInput placeholder="Select your postcode" [formControl]="postCode">
        </mat-form-field>
    </form>
</mat-card>
<div *ngIf="results.length>0">
    <mat-toolbar>Results</mat-toolbar>
    <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="space-around center">

            <mat-card fxFlex="30" style="min-height:400px" *ngFor="let d of results" class="example-card">
                <mat-card-header>
                    <mat-card-title>{{d['Job Title']}}</mat-card-title>
                    <mat-card-subtitle>{{d['Employer']}}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>{{d['Job Description']}}

                    </p>
                    <p>How to apply:{{d['How to Apply']}}</p>
                    <p>Skills Needed:{{d['Skills Needed']}}</p>
                    <div fxLayout="row " fxLayoutAlign="space-around center">
                        <div fxFlex="50">
                            <mat-icon>location_city</mat-icon>{{d["Location"]}}
                        </div>
                        <div fxFlex="50">
                            <mat-icon>savings</mat-icon> {{d["Salary"]}}
                        </div>
                    </div>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <!-- <mat-card style="padding:10px;margin:10px">
            {{d|json}}
        </mat-card> -->
        </div>

    </mat-card>
</div>